.google-map-grid-container{
    display: flex;
    justify-content: center;
    height: 700px;
}
.google-map{
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
    min-height: 600px;
}
// .google-map div:first-of-type {
//     position: relative !important;
  
// }
 

@media screen and (min-width: 1300px){
    .google-map-grid-container{
        margin-top: 133px;
    }

    .google-map.sticky{
        position: fixed !important;
        top: -20px;
    }

    .show-map-container .google-map.sticky{
        position: relative !important;
    }

}

.gm-style .gm-style-iw-c {
    padding: 0;
}

.gm-style .gm-style-iw-t::after {
    display: none;
}
.gm-style .gm-style-iw-d {
    max-width: 150px !important;
    overflow: auto !important;
}
.gm-style .gm-style-iw-c  button{
    display: none !important;
}


.map.surfspot.card-container{
    width: 100px;
    min-width: 0;
    margin: 0;
    cursor: pointer;
}

.map.surfspot.card-container .surfspot-title{
    font-size: 16px;
    line-height: 1.1;
    overflow: hidden;
}






// .map.surfspot.card-container .surfspot.card{
//     position: static !important;
// }
// .map.surfspot.card-container .surfspot.link{
//     position: static !important;
// }

// .index-map-container{
//     display: flex;
//     flex-direction: row;
//     // background-color: beige;
//     padding: 15px 15px 0;
    
// }
