
.iscollapsed.modal-background{
  opacity: 0;
  height: 0;
  transition: all .35s ease-in;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(238, 237, 237, 0.623);
  z-index: 10;
  opacity: 1;
  height: 100%;
  transition: height .35s ease-out;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 337.5px;
}

.login-form-container {
  display: flex;
  justify-content: center;

}

.login-form-box{ 
  width: 100%;
  padding: 19px;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.login-form-box .logo-text{
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1.75px;
  line-height: 40px;
  text-align: center;
  margin: 10px;
}
.login-big-title{
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #333333;
    margin: 13px 0px 11px;
}

.login-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 14px;
}
.login-form div{
  width: 100%;
}
.other-link{
  text-align: center;
  font-size: 15px;
  margin-top: 14px;
}



.login-input{
    border: .25px solid #333333;
    font-weight: 600;
    color: #333333;
    height: 68px;
    font-size: 1rem;
    padding: 16px;
    margin: 0 0 10px;
    background: #ffff;
    width: 100%;
}
.login-input::placeholder {
  color: #333333;
  opacity: 1; /* Firefox */
}

.login-form button{
  width: 100%;
  margin: 0;
}
.demo-button {
  text-transform: capitalize;
  height: 68px;
  font-size: 18px;
  font-weight: 600;
  padding: 16px;
  background-color: #ff615d;
  color: #ffff;
  width: 100%;
  text-align: center;
  border: 2px solid #ff615d;;
}
.demo-button:hover{
  color: #ff615d;
  background-color: #ffff;
}

.session-submit{
  text-transform: capitalize;
  height: 68px;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
  padding: 16px;
  background-color: #40d9ac;
  color: white;
  width: 100%;
  text-align: center;
  border: 2px solid #40d9ac;
}
.session-submit:hover{
  border: 2px solid #40d9ac;
  color: #40d9ac;
  background-color: white;
}


