
.promotion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #000;
  font-weight: 700;
  font-size: 12px;
  height: 40px;
  color: #fff;
  padding: 6px;
}
.giftbox{
  height: 14px;
  width: auto;
  margin-bottom: 5px;
  margin-right: 6px;
}

.logo{
    display: none;
    max-width:  58px;
    margin-right: 10px;
    padding-bottom: 2px;
    margin-left: 3px;

}
.letter {
    /* color: #40d9ac; */
    color: #ff615d;
}

.logo-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.logo-text {
    font-size: 21px;
    font-weight: 900;
    letter-spacing: 1.75px;
    line-height: 40px;
}

.nav-bar{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 35px;
  padding: 0 12px 0;
}



.hamburger-icon-wrapper{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08) !important;
  font-size: 20px;
  margin-right: 10px;
}
.bar1, .bar2, .bar3 {
  width: 17.156px;
  height: 3px;
  background-color: #333333;
  margin: 1.5px 0;
  transition: 0.4s;
}


.header-link .button-link{
  background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0px;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #ebebeb;
    outline: none;
    padding: 0;
    margin-right: 20px;
    font-size: 1.15rem;
     margin-left: 0;
  }
  
  .header-link .button-link:hover{
    border-bottom: 1px solid #238ab0;
  }

  #logout-b{
    margin-right: 10px;

  }

#userProfilePhoto{
  max-width: 36px;
  max-height: 14px;
  padding-bottom: 20px;
  margin-right: 20px;
}

  #current-user{
     background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0px;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #ebebeb;
    outline: none;
    padding: 0;
    margin-right: 20px;
    font-size: 1.15rem;
     margin-left: 0;
  }
  
.iscollapsed.nav-bar-right{
  margin-left: -100%;
  width: 0;
  transition: all .75s;
}

  .nav-bar-right{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  z-index: 5;
  padding: 20px;
  transition: all .5s;
  width: 100%;
}
.nav-bar-right .button-link{
  padding-top: 7px;
  margin-bottom: 15px;
  padding-bottom: 20px;
}
.change .bar1 {
  width: 25px;
  height: 5px;
  -webkit-transform: rotate(-45deg) translate(-8px, 7px);
  transform: rotate(-45deg) translate(-8px, 7px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  width: 25px;
  height: 5px;
  -webkit-transform: rotate(45deg) translate(0px, 0px);
  transform: rotate(45deg) translate(0px, 0px);
}

.header-link{
    display: flex;
    flex-direction: column;
  }

.nav-bar-links{
  box-sizing: border-box;
  height: 66px;
  font-size: 28px;
  font-weight: 400;
  border-bottom: 1px solid #ebebeb;
  padding: 16px 0px 16px;
  font-size: 28px;
  font-weight: 400;
  border-bottom: 1px solid #ebebeb;
  
}


 .login-signup{
    display: flex;
    flex-direction: column;
  }
  .login-signup .button-link{
    box-sizing: border-box;
    height: 66px;
    font-size: 28px;
    font-weight: 400;
    border-bottom: 1px solid #ebebeb;
    padding: 16px 0px 16px;
    font-size: 28px;
    font-weight: 400;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 0;
  }

  .login-signup .button-link:last-child{
    border-bottom: none;
  }

   .icon.button-link img:hover{
      background-color: #40d9ac;
      transition: background-color 0.3s ease 0s;
   }

@media screen and (min-width: 880px){
 
  .nav-bar{
    margin: 17.5px 0;
    justify-content: space-between;    
  }
 
  .hamburger-icon-wrapper{
    display: none;
  }
  .logo-container{
    margin-bottom: 0;
    
  }
  .logo-text {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1.75px;
    line-height: 40px;
  } 
  .iscollapsed.nav-bar-right{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    width: fit-content;
    position: static;
    background: #fff;
    padding: 0;
  }

  .header-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 29px;
  }

  .nav-bar-links{
    box-sizing: border-box;
    height: fit-content;
    border-bottom: 2px solid #fff;
    padding: 0;
    padding-top: 1px;
    font-size: 15.75px;
    font-weight: 400;  
    margin: 0 6px;
  }
  .nav-bar-links:hover{
    border-bottom: 2px solid #40d9ac;
  }

  .nav-bar .button-link{
    display: none;
  }


   .login-signup{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .login-signup .button-link{
    display: block;
    box-sizing: border-box;
    height: fit-content;
    padding: 0;
    padding-top: 1px;
    font-size: 15.75px;
    font-weight: normal;
    border-bottom: 2px solid #fff;
    margin: 0 6px;
    margin-right: 20px;
  }
  .login-signup .button-link:hover{
    border-bottom: 2px solid #40d9ac;
  }

   .login-signup .button-link:last-child{
    width: 82.52px;
    height: 45px;
    font-size: 14.75px;
    border: 3px solid #40d9ac;
    color: #40d9ac;
    background-color: transparent;
    padding: 7px 12px;
    margin: 0 6px;
  }
   .login-signup .button-link:last-child:hover{
    border-color: #3cc69e;
    background-color: #40d9ac;
    color: #fff;
    transition: background-color 0.3s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
  }

  .icon.button-link {
    border: none;
    width: 30px;
    position: relative;
    border: none !important;;
  }
  
  #logout-b.icon.button-link{
    margin-right: 20px;
  }

  .icon.button-link:hover{
    background-color: #ffff !important;
  }

  .icon.button-link .host-photo{
    width: 40px;
    position: absolute;
    top: -10px;
    left: -7px;
  }

   .icon.button-link img:hover{
      background-color: #40d9ac;
      transition: background-color 0.3s ease 0s;
   }

}

@media screen and (min-width: 1200px){
   .nav-bar-links{
    margin: 0 12px;
  }
  .login-signup .button-link{
    margin: 0 14px;
    margin-right: 20px;
  }
   .login-signup .button-link:last-child{
    margin: 0 14px;
  }

}