// header{
//   width: 100%;
//   position: sticky;
//   top: 0;
//   z-index: 4;
// }
.promotion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #000;
  font-weight: 700;
  font-size: 12px;
  height: 40px;
  color: #fff;
  padding: 6px;
}
.giftbox{
  height: 14px;
  width: auto;
  margin-bottom: 5px;
  margin-right: 6px;
}


.nav-bar{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 35px;
  padding: 0 12px 0;
  // width: auto;
  // display: flex;
  // justify-content: space-between;
  // margin: auto;
  // margin-right: 0px;
  // padding-top: 20px;
  // padding-left: 15px;
  // padding-right: 15px;
  // padding-bottom: 15px;
  // height: 45px;
  // color: #333333;
  // background-color: white;
}

.hamburger-icon-wrapper{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08) !important;
  font-size: 20px;
  margin-right: 10px;
}
.bar1, .bar2, .bar3 {
  width: 17.156px;
  height: 3px;
  background-color: #333333;
  margin: 1.5px 0;
  transition: 0.4s;
}

.button-link{
  background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0px;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #ebebeb;
    outline: none;
    padding: 0;
    margin-right: 20px;
    font-size: 1.15rem;
     margin-left: 0;
  }
  
  .button-link:hover{
    border-bottom: 1px solid #238ab0;
    // padding-bottom: 3px;
  }

  #logout-b{
    margin-right: 10px;

  }

#userProfilePhoto{
  max-width: 36px;
  max-height: 14px;
  padding-bottom: 20px;
  margin-right: 20px;
}

  #current-user{
     background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0px;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #ebebeb;
    outline: none;
    padding: 0;
    margin-right: 20px;
    font-size: 1.15rem;
     margin-left: 0;
  }
  
  .header-link{
    font-size: 1.15rem
  }
  
  .login-signup{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    padding-bottom: 3px;
  }
  
  .nav-bar-right{
    display: flex;
    justify-content: space-between;
    font-size: 1.15rem;
    margin-top: 15.5px; 
}

.nav-bar-links{
  margin-right: 20px;
  padding-bottom: 6px;
  height: 20px;
}

.nav-bar-links:hover{
  border-bottom: 1px solid #26bf73;
}

.demo-button{
 
}