@mixin large {
   @media (max-width: 1024px) { @content; }
}
 
@mixin medium {
   @media (max-width: 700px) { @content; }
}
 
 .photo-slider {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  max-width: 1395px;

}

.surfspot_photo {
  position: relative;
  margin: 0 auto;
  width: 90%;
  background: #fff;
  height: 425px;

  @include medium {
     width: 100%;
     height: 50vh;
  }
  img{
     min-height: -webkit-fill-available;
     object-fit: cover;
     max-height: 420px;
  }
}

.slick-list {
    max-width: 1250px;
}

.slider {
  height: 420px;
}
se
.slick-slide {
  padding: 7px;
  height: 400px;
  overflow: hidden;

  img {
     height: 400px;
    object-fit: cover;
     @include large {
        width: 100%;
     }
  }
}

.slick-slider {
  button {
      
     @include large {
        display: none
        c
     }
  }
}

.slick-arrow {
  @include large {
     display: none;
  }
}

.slick-prev:before, .slick-next:before {
  color: gray;
  font-size: 1.4rem;
  font-family: 'slick';
}


.slick-next:before, .slick-prev:before{
    color:   #238ab0 !important;
}
.slick-prev:hover:before, .slick-next:hover:before {
  color: #fadb98;
}
.price{
    text-align: left;
    margin-left: 2%;
}

