@mixin large {
   @media (max-width: 1024px) { @content; }
}
 
@mixin medium {
   @media (max-width: 809px) { @content; }
}
 
 .photo-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 352px;

}

.surfspot_photo {
  position: relative;
  margin: 0 auto;
  width: 90%;
  background: #fff;
  height: 57vw;
  max-height: 425px;

  @include medium {
     height: 57vw;
     min-height: 215px;
  }
  img{
     min-height: -webkit-fill-available;
     height: 57vw;
     max-height: 425px;
      
     @include medium{
        border: none;
     }
     
  }
}


se .slick-slide {
  padding: 7px;
  height: 400px;
  overflow: hidden;
  

  img {
     height: 400px;
    object-fit: cover;
     @include large {
        width: 100%;
     }
  }
}

.slick-slider {
   position: static !important;
  button {
      
     @include large {
        display: none
     }
  }
}

.slick-arrow {
  @include large {
     display: none;
  }
}


.slick-prev:before, .slick-next:before {
  color: gray;
  font-size: 1.4rem;
  font-family: 'slick';
}

.slick-next.slick-disabled:before, .slick-prev.slick-disabled:before {
    opacity: 0 !important;
}

.slick-next{
   right: 6px !important;
  
}
.slick-prev{
   left: 6px !important;
   z-index: 10;
  
}

.slick-slide{
   border-left: 15px solid white;
}
.slick-active{
   min-width: 700px !important;
   max-width: 700px !important;
    @include medium{
        min-width: 352px !important;
     }

}
.slick-current{
   border: none
}

