.review-container{
    border-top: 1px solid #ebebeb;
    padding-top: 10px;
}

.create-review-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.review-button-link{
   padding: 7px 12px;
   position: relative;
   font-size: 13px;
   font-weight: 700;
   border: 2px solid  #40d9ac;
   background-color:  #40d9ac;
   color: #fff;
   cursor: pointer;

   &:hover {
    border: 2px solid #40d9ac;
    color: #40d9ac;
    background-color: white;
    transition: background-color 0.3s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
   }

}


.add-reviews{
    font-weight: bold;
    font-size: 20px;
}

.review-list-container{
    
}

.review-item-container{
border-top: 1px solid #ebebeb;
padding-top: 15px;
padding-bottom: 7px;

}
.review-details{
 display: flex;
flex-direction: column;
}

.review-details .show-host-description{
    margin-top: 0;
}

.author-date{
    padding-bottom: 9px;
}

.author-date .host-container .host-photo{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.author-date .host-container .review-date{
    color: #757575;
    font-size: 15.5px;
}
.no-reviews.show-host-description{
    text-align: center;
}

.delete{
    text-align: right;
}

.review-delete-button{
    text-align: right;
    color: #757575;
    font-size: 0.85em;
    &:hover {
       color: #40d9ac;
       transition: color 0.3s ease 0s;
   }
}

@media screen and (min-width: 1025px){

    .author-date .host-container .host-photo{
        height: 75px;
        width: 75px;
    }
   .review-details .show-host-description{
       margin-left: 85px;
    }

}



