.search-bar-container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 10%;
  margin-top: 114px;
}

.search-title{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 22px;
    box-sizing: border-box;
    width: 80%;
    
}

.search-subtext{
    
    box-sizing: border-box;
    font-size: 22.5px;
    width: 50%;
    margin-top: 22px;
    margin-bottom: 22px;
    // box-sizing: border-box;
}

.surfcamp-search-widget{
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
    padding: 17px;
    width: 80%;
    margin-top: 22px;
}