


// .price{
    //     text-align: left;
    //     margin-left: 2%;
    // }
    
.info-calendar-container{
    display: flex;    
}

.show-info-container{
    width: 90%;
    margin: auto;
}

.show-title-container{
    padding: 6px 0px 10px;
}
.show-title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1;
    font-size: 34px;
}
.show-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.42;
}

.host-container{
    display: flex;
    flex-direction: row;
    margin: 10px 0px 15px;
    -webkit-align-items: center;
    align-items: center;
}
.host-photo{
    height: 60px;
    width: 60px;
    margin-right: 5px;

}

.host-photo img{
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
}

.hosted-by-container{
    display: flex;
    flex-direction: column;
}

.hosted-by{
    font-weight: 600;
    font-size: 15.5px;
    line-height: 25.56px;
    text-transform: capitalize;
}
.show-host-description{
    max-width: 526px;
    margin: 23px 0 20px;
    font-weight: 400;
    font-size: 15.5px;
    line-height: 25.56px;
    text-transform: capitalize;
}

.info-cards-container{
    margin: 10px 20px 10px 0px;
}
.info-container{
    margin-bottom: 25px;
    position: relative;
    background-color: #fff;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08);
    padding: 15px 5px 15px 15px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 1.4;
}

.icon-title{
    line-height: 33.6px;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 4px;
}
.icon-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    // -webkit-align-items: center;
    // align-items: center;
    height: 28px;
}
.icon{
    margin-right: 10px;
    max-width: 20px;
    max-height: 20px;
}

.icon-text{
    font-size: 15.5px;
    line-height: 1;
}
.show-details{
    margin: 10px 0px;
    border-top: 1px solid #ebebeb;
    // border-bottom: 1px solid #ebebeb;
    // padding-bottom: 10px;
}
.show-details .title{
    padding: 10px 0px 5px;
    margin-bottom: 5px;
}

.hosted-by span{
 font-weight: 400;
}

@media screen and (min-width: 900px){
    .info-calendar-container{
        width: 740px;
        margin: auto;
    }
    .show-info-container{
        margin: 0;
        width: 56.88888%;

    }
    .show-title-container, .host-container, .show-host-description, .show-details, .review-container {
        margin-right: 20px;
    }

}

@media screen and (min-width: 1025px){
    .info-calendar-container{
        width: 920px;
    }
    .show-info-container{
        width: 60%;

    }
    .info-cards-container{
        display: flex;
        flex-direction: row;
    }
    
    .info-container{
        width: 220px;
        margin: 0px 10px 25px;
        min-height: 330px;
    }
    .info-container:first-child {
        margin-left: 0;
    }

    .show-details{
        display: flex;
        flex-direction: row;
        padding: 10px 0px 30px;
    }
    .show-details .title{
        font-weight: 600;
        margin-right: 40px;
    }
    .details-container{
        padding-top: 10px;
    }

    .host-photo{
        height: 90px;
        width: 90px;
        margin-right: 15px;
    }
    .show-title{
        margin-top: 15px;
        font-size: 42px;
    }

   

}

@media screen and (min-width: 1200px){
    .info-calendar-container{
        width: 1020px;
    }
     .widget_container{
        right: 15%;
    }
    .widget_container.sticky{
        right: 15%;
    }
}

@media screen and (min-width: 1300px){
    .info-calendar-container{
        width: 1080px;
    }
}
@media screen and (min-width: 1500px){
     .widget_container{
        right: 20%;
    }
    .widget_container.sticky{
        right: 20%;
    }
}
