.user-login{
   height: 800px;
}

.valid-user{
    display: flex;
    flex-direction: column;
    // align-items: center;
}
.userProfile-container {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 100%;
    max-width: 280px;
}

.userProfile-container .show-host {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
}

.userProfile-container .show-host-description{
    margin: 23px 0 20px;
    font-weight: 400;
    font-size: 15.5px;
    line-height: 25.56px;
}

.valid-user .review-container{
    padding: 25px 25px 0px;
    margin-top: 30px;
    border: 1px solid #ebebeb;
}

.valid-user .review-container:last-child{
    margin-bottom: 30px;
}

.valid-user .review-container .host-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.valid-user .review-container .host-photo img{
    border-radius: 0;
    height: auto;
    width: 100%;
    box-shadow: none;
    
}
.valid-user .review-container .host-photo{
    height: auto;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
}
.valid-user .review-container .hosted-by-container .hosted-by:first-child{
    padding-top: 10px;
    
}
.valid-user .review-container .hosted-by-container .hosted-by:first-child:hover{
    color: #40d9ac;
    transition: color 0.4s ease 0s, color 0.4s ease 0s;

}


@media screen and (min-width: 930px){

    .valid-user {
        display: grid;
        grid-template-columns: 280px 1fr;
        column-gap: 20px;
        padding: 20px;
        max-width: 1200px;
        margin: auto;

    }

    .userProfile-container {
        margin-top: 30px;
        padding: 20px 15px;
        width: 280px;
        border: 1px solid #ebebeb;
        height: 275px;
    }

    .valid-user .review-container .host-container{
        flex-direction: row;
    }
    .valid-user .review-container .hosted-by-container{
        min-width: 230px;
        padding-left: 10px;
    }

    

}

